In [ ]:
#Loops


#for with DS (list, tuple, set, dict)
#for with string
#range function
#for with range 
#break continue pass
#for else


#while with boolean (condition)
#break continue pass
#while else
#while with variable
#while with True

In [1]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [3]:
for i in range(20):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [4]:
#Loops with DS:

var = "python"

var2 = ["pyth", "c", "val", "maths", "science"]

print(len(var2[0]))
print(len(var2[1]))
print(len(var2[2]))

4
1
3

In [ ]:
for temp_variable in  <Data strucuture>:
    <code 1>
    <code 2>

In [3]:
var2 = ["pyth", "c", "val", "maths", "science"]

for val in var2:
    print(val)
    print(len(val))

pyth
4
c
1
val
3
maths
5
science
7

In [6]:


Li1 = [5,6,7,4,10,20]

for i in Li1:
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

5 : ODD
6 : EVEN
7 : ODD
4 : EVEN
10 : EVEN
20 : EVEN

In [10]:
num1 = 10

if num1 % 2 == 0:
    print(f'{num1} : EVEN')
else:
    print(f'{num1} : ODD')

10 : EVEN

In [8]:
Li1 = (5,6,7,4,10,20)

for i in Li1:
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

5 : ODD
6 : EVEN
7 : ODD
4 : EVEN
10 : EVEN
20 : EVEN

In [9]:
Li1 = {5,6,7,4,10,20}

for i in Li1:
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

4 : EVEN
5 : ODD
6 : EVEN
7 : ODD
10 : EVEN
20 : EVEN

In [11]:
Li1 = (5,6,7,4,10,20)

for i in Li1[2:]:
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

7 : ODD
4 : EVEN
10 : EVEN
20 : EVEN

In [12]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i in Li1: #default key
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

5 : ODD
6 : EVEN
7 : ODD
4 : EVEN
10 : EVEN
20 : EVEN

In [13]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i in Li1.keys():
    if i % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

5 : ODD
6 : EVEN
7 : ODD
4 : EVEN
10 : EVEN
20 : EVEN

In [15]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i in Li1.values():
    if len(i) % 2 == 0:
        print(f'{i} : EVEN')
    else:
        print(f'{i} : ODD')

c : ODD
cpp : ODD
java : EVEN
groovy : EVEN
gg : EVEN
go : EVEN

In [17]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i in Li1.items():
    print(i)
    print(i[0])
    print(i[1])

(5, 'c')
5
c
(6, 'cpp')
6
cpp
(7, 'java')
7
java
(4, 'groovy')
4
groovy
(10, 'gg')
10
gg
(20, 'go')
20
go

In [22]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i in Li1:
    if len(Li1[i]) % 2 == 0:
        print(f'{Li1[i]} : EVEN')
    else:
        print(f'{Li1[i]} : ODD')

c : ODD
cpp : ODD
java : EVEN
groovy : EVEN
gg : EVEN
go : EVEN

In [4]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}
print(Li1[5])

c

In [20]:
Li1 = {5:"c",6:"cpp",7:"java",4:"groovy",10:"gg",20:"go"}

for i,j in Li1.items():
    print(i)
    print(j)

5
c
6
cpp
7
java
4
groovy
10
gg
20
go

In [5]:
val = "mathematics"

for i in val:
    print(i)

m
a
t
h
e
m
a
t
i
c
s

In [6]:
val = "mathematics"

for i in val[::-1]:
    print(i)

s
c
i
t
a
m
e
h
t
a
m

In [7]:
val = "mathematics"

for i in reversed(val):
    print(i)

s
c
i
t
a
m
e
h
t
a
m

In [24]:
val = "mathematics"

print(list(val))

['m', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's']

In [28]:
Li1 = ['m', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's']
Li2 = []

for i in Li1:
    print(Li2)
    if i not in Li2:
        Li2.append(i)
print(Li2)
        
#create a empty list

[]
['m']
['m', 'a']
['m', 'a', 't']
['m', 'a', 't', 'h']
['m', 'a', 't', 'h', 'e']
['m', 'a', 't', 'h', 'e']
['m', 'a', 't', 'h', 'e']
['m', 'a', 't', 'h', 'e']
['m', 'a', 't', 'h', 'e', 'i']
['m', 'a', 't', 'h', 'e', 'i', 'c']
['m', 'a', 't', 'h', 'e', 'i', 'c', 's']

In [29]:
Li1 = ['m', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's']

print(list(set(Li1)))

['t', 'e', 's', 'h', 'a', 'm', 'c', 'i']

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
print(list(range(6)))
print(list(range(6,20)))
print(list(range(6,20,4)))
print(list(range(6,20,5)))
print(list(range(100,50,-5)))
print(list(range(90,75,-1)))

[0, 1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[6, 10, 14, 18]
[6, 11, 16]
[100, 95, 90, 85, 80, 75, 70, 65, 60, 55]
[90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76]

In [33]:
for i in range(50,100,8):
    print(i)

50
58
66
74
82
90
98

In [36]:
for i in range(1,10):
    if i % 3 == 0:
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : Multiple of THREE
7 : NOT A Multiple of THREE
8 : NOT A Multiple of THREE
9 : Multiple of THREE

In [38]:
#break continue pass

for i in range(1,10):
    if i % 7 == 0:
        break #permanent stop to the loop
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE

In [9]:
for i in range(1,20):
    if i % 7 == 0 or i%4 == 0:
        continue #temp stop to the loop (skip current iteration go to next iteration)
        print(f'{i} : Multiple of ELEMENT')
    else:
        print(f'{i} : NOT A Multiple of ELEMENT')

1 : NOT A Multiple of ELEMENT
2 : NOT A Multiple of ELEMENT
3 : NOT A Multiple of ELEMENT
5 : NOT A Multiple of ELEMENT
6 : NOT A Multiple of ELEMENT
9 : NOT A Multiple of ELEMENT
10 : NOT A Multiple of ELEMENT
11 : NOT A Multiple of ELEMENT
13 : NOT A Multiple of ELEMENT
15 : NOT A Multiple of ELEMENT
17 : NOT A Multiple of ELEMENT
18 : NOT A Multiple of ELEMENT
19 : NOT A Multiple of ELEMENT

In [41]:
for i in range(1,10):
    if i % 7 == 0:
        pass #line filler
        print("pass")
    else:
        print(f'{i} : NOT A Multiple of THREE')

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE
pass
8 : NOT A Multiple of THREE
9 : NOT A Multiple of THREE

In [42]:
for i in range(1,10):
    if i % 7 == 0:
        break #permanent stop to the loop
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')
else:
    print("Loop executed completely")

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE

In [44]:
for i in range(1,10):
    if i % 7 == 0:
        continue 
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')
else:
    print("Loop executed completely")

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE
8 : NOT A Multiple of THREE
9 : NOT A Multiple of THREE
Loop executed completely

In [10]:
for i in range(1,10):
    if i % 11 == 0:
        break #permanent stop to the loop
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')
else:
    print("Loop executed completely")

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE
7 : NOT A Multiple of THREE
8 : NOT A Multiple of THREE
9 : NOT A Multiple of THREE
Loop executed completely

In [43]:
for i in range(1,10):
    if i % 7 ==0:
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')
else:
    print("Loop executed completely")

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE
7 : Multiple of THREE
8 : NOT A Multiple of THREE
9 : NOT A Multiple of THREE
Loop executed completely

In [45]:
for i in range(1,10):
    if i % 17 == 0:
        break #permanent stop to the loop
        print(f'{i} : Multiple of THREE')
    else:
        print(f'{i} : NOT A Multiple of THREE')
else:
    print("Loop executed completely")

1 : NOT A Multiple of THREE
2 : NOT A Multiple of THREE
3 : NOT A Multiple of THREE
4 : NOT A Multiple of THREE
5 : NOT A Multiple of THREE
6 : NOT A Multiple of THREE
7 : NOT A Multiple of THREE
8 : NOT A Multiple of THREE
9 : NOT A Multiple of THREE
Loop executed completely